@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}

* {
  box-sizing: border-box;
}

body {
  background: url('./img/bg8.jpg') no-repeat center center/cover;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.card {
  position: absolute;
  right: 800px;
  width: 345px;
  height: 180px;
  margin-top: 325px;
  border: 5px solid rgb(46,139,87);
  background-color: rgb(46,139,87, 0.7); 

} 

.card h1 { 
  align-items: center;
  padding-left: 20px;
}

.card h4 { 
    align-items: center;
    padding-left: 10px;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
  margin-left: 280px; 
  width: 250px
}

.draggable-list li {
  background-color: #fff;
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .indexNumber {
  /* background-color: rgb(222,184,135); */
  background-color: rgb(46,139,87, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .number {
  margin: 0 20px 0 0;
  align-items: center;
}

.draggable-list li.right .number {
  color: #3ae374;
}

.draggable-list li.wrong .number {
  color: #ff3838;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

/* 
.draggable p { 
  text-align: center;
} */

.check-btn {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 280px;
  background-color: rgb(243, 242, 242);
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}


.container {
  opacity: 0; 
  z-index: -1;
  background-color: #fff;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  perspective: 1000px;
  height: 320px; 
  width: 510px; 
  transition: 0.3s ease;
  top: 200px;
  box-shadow: 30px;
  border-radius: 30px;
  border: 2px solid #aaa; 
}

.btn { 
  cursor: pointer;
  border-radius: 30px;
  width: 470px; 
  position: relative; 
  top: 30px; 
  height: 40px;
  background-color: #fff;
  border: 2px solid #aaa; 
  font-size: 15px; 
  padding: 6px 13px;
  transition: 0.4s
} 

/* .container h3 { */
  /* margin: 10px 0; */
/* }  */

.container.show {
  opacity: 1;
  z-index: 2;
}

